<!--video用于显示媒体设备的视频流，自动播放-->

<div id="scanvas">
    <video id="video" autoplay width="640px" height="480px"></video>
    <svg id="svgContainer" width="640px" height="480px" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M160 140 h 320 v 202 h -320 v -202" fill="transparent" stroke="red" stroke-width="20" />
    </svg>
</div>


<style>
    .scanvas {
        position: relative;
        width: 640px;
        height: 480px;
    }

    #video {
        position: absolute;
        z-index: 1;
    }

    #svgContainer {
        position: absolute;
        z-index: 2;
    }
</style>
<!--拍照按钮-->
<canvas id="canvas" width="640px" height="480px"></canvas>
<div>
    <button id="capture">Take it</button>
</div>
<!--描绘video截图-->
<script src="static/core.js"></script>