<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>

    <h1>Hello, world!</h1>
<div id="scanvas">
    <video id="video" autoplay width="640px" height="480px"></video>
    <svg id="svgContainer" width="640px" height="480px" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M160 140 h 320 v 202 h -320 v -207" fill="transparent" stroke="red" stroke-width="10" />
    </svg>
</div>


<style>
    .scanvas {
        position: relative;
        width: 640px;
        height: 480px;
    }

    #video {
        position: absolute;
        z-index: 1;
    }

    #svgContainer {
        position: absolute;
        z-index: 2;
    }
</style>
<!--拍照按钮-->
<canvas id="canvas" width="640px" height="480px"></canvas>
<div>
    <button id="capture">Take it</button>
</div>


<canvas id="picture" width="320" height="202px"></canvas>


<!--描绘video截图-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="static/core.js"></script>
  </body>
</html>
